<div class="container-fluid container-fluid-custom1">
    <h1>About QuickNotes</h1>
    <div class="mt-5">
        <h2>Our Story</h2>
        <p>Welcome to QuickNotes, where simplicity meets productivity. Our journey began with a simple idea – to create a note-taking platform that seamlessly integrates into your daily life. We believe that jotting down your thoughts, ideas, and to-dos should be as quick and intuitive as the name suggests.</p>
        
        <h2>Mission</h2>
        <p>At QuickNotes, our mission is to empower individuals to capture their moments of inspiration effortlessly. We're committed to providing a user-friendly and efficient note-taking experience that adapts to your needs. Whether you're a student, professional, or creative mind, QuickNotes is designed to be your go-to companion in organizing your thoughts.</p>
        
        <h2 class="py-3">Values</h2>
        <ul>
        <li><h4>Simplicity</h4></li>
        <p>We embrace the power of simplicity. Our design philosophy revolves around creating an uncluttered and straightforward interface that puts the focus on your ideas, not the tools.</p>
        
        <li><h4>Accessibility</h4></li>
        <p>Every user deserves a seamless experience. QuickNotes is built to be accessible to all, ensuring that anyone can enjoy the benefits of efficient note-taking, regardless of their background or abilities.</p>
        
        <li><h4>Innovation</h4></li>
        <p>We continually strive for innovation. Your feedback drives our commitment to enhancing features, exploring new possibilities, and keeping QuickNotes at the forefront of note-taking technology.</p>
        </ul>
    </div>
</div>