<div class="container-fluid container-fluid-custom1">
    <h1>Key Features of QuickNotes</h1>
    <div class="mt-5">
        <h3>1. Add a Note:</h3>
        <p>Easily capture your ideas on the go. Add notes quickly and efficiently, ensuring that no brilliant thought slips away.</p>
        
        <h3>2. View All Notes:</h3>
        <p>Organize and access all your notes in one place. Our intuitive interface makes it a breeze to find the information you need.</p>
        
        <h3>3. Delete a Note:</h3>
        <p>Streamline your space by removing notes you no longer need. Simple and effective note management at your fingertips.</p>
        
        <h3>4. Search Functionality:</h3>
        <p>Effortlessly find what you're looking for with our powerful search feature. Locate specific terms or phrases within your notes in an instant.</p>

        <h3>5. Advanced Security:</h3>
        <p>Rest easy knowing that your notes are stored securely with advanced encryption.</p>
    </div>
</div>